.pagination {
    margin: 5px auto;
    border: gray 1px solid;
    border-radius: 10px;
}

.pagination .li {
    display: inline-block;
}

.break {
    margin: 10px;
    background: black;
}

.active {
    font: bold 1.2em Arial;
    margin: 0 5px;
    padding-top: 2px;
}