.postContainer {
    padding: 5px 0 0 0;
}

.post {
    border: dimgray 1px solid;
    border-radius: 3px;
    min-height: 80px;
}

.title, .like, .created {
    height: 20px;
    margin: 1px 0 0 0;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    font: bolder 1.1em Arial;
    overflow: hidden;
    text-overflow: ellipsis;
}
.like, .created {
    color: darkgrey;
    font-size: 0.9em;
}
.article {
    max-height: 70px;
    font: 1em Arial;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}
