.postContainer {
    padding: 5px 0 0 0;
}

.post {
    border: dimgray 1px solid;
    border-radius: 3px;
    min-height: 80px;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title, .like, .created {
    height: 20px;
    margin: 1px 0 0 0;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    font: bolder 1.1em Arial;
    overflow: hidden;
    text-overflow: ellipsis;
}
.like, .created, .tag {
    color: darkgrey;
    font-size: 0.9em;
}
.sectionTitle {
    max-height: 150px;
    font: 1em Arial;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    word-wrap: break-word;
}

img {
    padding: 5px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: lightgrey;
}

.tag {
    border: lightgrey 1px solid;
    border-radius: 7px;
    padding: 0 4px;
    margin-right: 5px;
}

.tag:hover {
    color: lightgrey;
    border-color: lightgrey;
}