.sectionsContainer {
    padding: 0;
}
.title {
    font: bold 1.2em Arial;
    margin: 5px;
}

.article {
    text-align: left;
    white-space: pre-line;
    word-wrap: break-word;
}

.like, .dislike {
    text-align: center;
    margin: 3px;
    cursor: pointer;
}

.like {
    color: dodgerblue;
}

.dislike {
    color: darkgray;
}

.dislike img, .like img {
    width: 25px;
    margin-right: 6px;
    margin-bottom: 3px;
}
.dislike img:active, .like img:active {
    width: 27px;
}