.sectionsContainer {
    padding: 0;
}
.title {
    font: bold 1.2em Arial;
    margin: 5px;
}

.article {
    text-align: left;
    white-space: pre-line;
    word-wrap: break-word;
}

.likes {
    text-align: center;
    color: dimgray;
}