.navbar {
    color: gray;
    padding: 10px 3px;
    border: black 2px solid;
    border-radius: 10px;
    margin: 5px 0;
    min-width: 120px;
    height: 80vh;
}

.item {

}

.item a {
    text-decoration: none;
    color: inherit;
}

.item a.active {
    color: lightgray;
}

a:hover {
    color: black;
}