.postContainer {
    margin: 5px 0;
    border: gray 1px solid;
    border-radius: 10px;
}

.title, .sections, .mark,.created {
}

.title {
    font: bolder 1.5em Arial;
}

.mark, .created {
    color: #535353;
}