.postContainer {
    margin: 5px 0;
    border: gray 1px solid;
    border-radius: 10px;
}

.title {
    font: bolder 1.5em Arial;
}
.description {
    font: italic 1.1em Arial;
    padding: 10px;
}

.mark, .created {
    color: darkgray;
}

.genre {
    font-size: 1.2em;
}