.commentary {
    margin: 10px;
    border: lightgrey 1px solid;
    border-radius: 10px;
}

.created, .author {
    color: darkgray;
    font-size: 0.8em;
}

.text {
    text-align: center;
    white-space: pre-line;
    word-wrap: break-word;
}

.created {
    border-top: #d2d2d2 1px solid;
}

.author {
    border-bottom: #d2d2d2 1px solid;
}